:root {
  --green: #4E9845;
  --light-green: #EDF5EC;
  --main-color: #333333;
  --box-shadow-color: #dfdede;
  --week-day-color: #999999;

  color: var(--main-color);

  .green-color {
    color: var(--green);
  }
  .green-bg-color {
    background-color: var(--green);
  }
  .light-green-bg-color {
    background-color: var(--light-green);
  }
}

